@use 'sidebar';
@use 'page';
@use 'rfs/scss' as rfs;
@use '../abstracts/variables' as variables;
@use '../abstracts/functions' as functions;
@use '../abstracts/mixins' as mixins;

.container {
  width: 100%;
  margin: 0 auto;
}

.sidebar-layout {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  margin: auto;
  overflow-y: auto;
  position: relative;
}

.sidebar,
.main-content {
  box-sizing: border-box;
}

.main-content {
  @include rfs.padding(variables.$spacing-m variables.$spacing-l);

  margin-left: var(--sidebar-width);
  flex-grow: 1;
  min-height: 100vh;
}