@use './abstracts/mixins' as mixins;

body {
  font-size: 16px;
  line-height: var(--baseline-height);
  font-family: var(--body-font-family);
  font-weight: var(--font-weight-normal);
  -webkit-font-smoothing: antialiased;
  background: var(--body-bg-color);
  color: var(--body-text-color);
}

a {
  color: inherit;
  text-decoration: none;

  &:not([href]) {
    cursor: default;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-normal);
}

h1 {
  @include mixins.font-size('xxl');
  
  margin-top: 0;
}

nav ul,
nav ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

time {
  @include mixins.font-size('s');
}